<!DOCTYPE>
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'board/bootstrap/main.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'board/bootstrap/bootstrap.min.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'board/bootstrap/bootstrap.min.css.map' %}" media="screen">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
          integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
<!--번호입력하면 이동하는태그-->
<form method="GET" class="d-flex justify-content-center">
    <input type="number" name="page" min="1" max="{{ page_obj.paginator.num_pages }}">페이지
    <input type="submit" value="Go">
</form>
<br/>
<!-- pagination -->
<nav aria-label="Pagination">
    <hr class="my-0"/>
    {% if is_paginated %}
    <ul class="pagination justify-content-center my-4">
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link btn-back" href="?page={{ page_obj.previous_page_number }}">이전</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link btn-back" href="#">이전</a></li>
        {% endif %}

        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link btn-back" href="?page={{ page_obj.next_page_number }}">다음</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link btn-back" href="#">다음</a></li>
        {% endif %}
    </ul>
    {% endif %}

</nav>

</body>